<%- include('../partials/header') %>
  <h2>Hotel Results</h2>
  <ul>
    <% hotels.forEach(hotel => { %>
      <li>
        <%= hotel.name %> - <%= hotel.address.streetAddress %>
        <form method="POST" action="/hotels/book" class="inline-form">
          <input type="hidden" name="hotelId" value="<%= hotel.hotelId %>">
          <label for="checkIn">Check-in</label>
          <input type="date" name="checkIn" required>
          <label for="checkOut">Check-out</label>
          <input type="date" name="checkOut" required>
          <label for="roomType">Room Type</label>
          <input type="text" name="roomType" required>
          <label for="amount">Amount</label>
          <input type="number" name="amount" required>
          <button type="submit">Book</button>
        </form>
      </li>
    <% }) %>
  </ul>
<%- include('../partials/footer') %>